@import 'tailwindcss';
@import '@nuxt/ui';

@theme static {
  --font-sans: 'Inter', sans-serif;
  --font-logo: 'Bebas Neue', sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
